<nav>
  <ul>
    <li>
      <%= link_to 'Vct', root_path %>
    </li>
    <% if false %>
      <li>
        <%= link_to "name", "#"%>
      </li>
    <% else %>
      <li><%= link_to "登录", "#" %></li>
    <% end %>
  </ul>
</nav>