<nav>
  <ul>
    <li>
      <%= link_to 'Vct', root_path %>
    </li>
    <% if current_user %>
      <li >
        <%= link_to "退出", destroy_user_session_path, method: :delete %>
      </li>
      <li id="current_user">
        <%= link_to current_user.name, "#" %>
      </li>
    <% else %>
      <li><%= link_to "登录", new_user_session_path %></li>
    <% end %>
  </ul>
</nav>