.nav{
  width: 1090px;
  height: 50px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 20px;

  ul.vct-nav {
    height: 100%;
    margin: 0 10px 0 0;
    list-style: none;
    display: inline-block;
    float: right;

    li {
      display: inline-block;
      line-height: 50px;
      text-align: right;
      padding: 0 2px;

      a {
        color: black;
      }
    }    
  }

  ul.vct-brand {
    list-style: none;
    height: 100%;
    display: inline-block;
    float: left;

    li {
      display: inline-block;
      line-height: 50px;
      font-size: 25px;
      a {
        color: black;
        &:hover{
          text-decoration:none;
        }
      }
    }
  }
}

.vct-body{
  width: 1140px;
  margin: 20px auto;
  text-align: center;
}

.vct-sidebar{
  display:inline-block;
  background: #ffffff;
  width: 400px;
  height: 800px;
  margin: 0 15px 0 0;
  border-radius: 8px;
  box-shadow: 0 4px 20px;
}

.vct-panel{
  display:inline-block;
  background: #ffffff;
  width: 650px;
  height: 800px;
  margin: 0 0 0 15px;
  border-radius: 8px;
  box-shadow: 0 4px 20px;

}

.vct-devise{
  width: 1000px;
  margin: 20px auto;
  background: #ffffff;
  padding: 30px 300px;
  border-radius: 8px;
  box-shadow: 0 4px 20px;
  text-align: left;

  h2{
    text-align: center;
  }
}

#error_explanation{
  border: 1px solid black;
  padding: 10px;
  margin: 10px 10px;
  border-radius: 8px;

}

.vct-static {
    width: 1080px;
    height: 500px;
    margin: 20px auto;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 20px;
    padding: 150px 300px 0 300px;
}
