//=require components/vct-nav-head
//= require components/user-profile

.vct-body{
  width: 1140px;
  margin: 20px auto;
  text-align: center;
}

.vct-sidebar{
  display:inline-block;
  background: #ffffff;
  width: 400px;
  height: 800px;
  margin: 0 15px 0 0;
  border-radius: 8px;
  box-shadow: 0 4px 20px;
}

.vct-panel{
  display:inline-block;
  background: #ffffff;
  width: 650px;
  height: 800px;
  margin: 0 0 0 15px;
  border-radius: 8px;
  box-shadow: 0 4px 20px;

}

.vct-devise{
  width: 1000px;
  margin: 20px auto;
  background: #ffffff;
  padding: 30px 300px;
  border-radius: 8px;
  box-shadow: 0 4px 20px;
  text-align: left;

  h2{
    text-align: center;
  }
}

#error_explanation{
  border: 1px solid black;
  padding: 10px;
  margin: 10px 10px;
  border-radius: 8px;

}

.vct-static {
    width: 1080px;
    height: 500px;
    margin: 20px auto;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 20px;
    padding: 150px 300px 0 300px;
}

.user-operate {
  text-align: left;
  width: 100%;
  height: 400px;
  padding: 10px 10px;
  position: relative;

  .return-pro {
    display: block;
    position: absolute;
    top: -40px;
    left: -40px;

  }

}
